src/seidart-recipes/common_offset/*.dat 
src/seidart-recipes/common_shot_gather/*.dat 
src/seidart-recipes/anisotropic_travel_time/*.dat
src/seidart-recipes/composite_radargrams/*.dat
src/seidart-recipes/load_array_from_file/*.dat
src/seidart-recipes/fabric/*.dat
src/seidart-recipes/three_component_plot/*.dat
src/seidart-recipes/boundary_performance/*.dat
src/seidart-recipes/cross_borehole/*.dat
src/seidart-recipes/seismic25/two_layer/*.dat
src/seidart-recipes/seismic25/many_layer/*.dat
src/seidart-recipes/wavefield_animation/*.dat
src/seidart-recipes/basal_melange/*.dat
src/seidart-recipes/v3_testing/*.dat 
src/seidart-recipes/v3_testing/test2/*.dat 
src/seidart-recipes/v3_testing/test3/*.dat
recipes/dipping_bed
recipes/__init__.py
recipes/masw
